<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>negozio2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/neg</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>InserimentoProdottoServlet2</servlet-name>
    <servlet-class>prodotti.InserimentoProdottoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserimentoProdottoServlet2</servlet-name>
    <url-pattern>/InserimentoProdottoServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UtentiControllerServlet</servlet-name>
    <servlet-class>controller.UtentiControllerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtentiControllerServlet</servlet-name>
    <url-pattern>/UtentiControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrazioneUtenteServlet</servlet-name>
    <servlet-class>dao.RegistrazioneUtenteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneUtenteServlet</servlet-name>
    <url-pattern>/RegistrazioneUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaUtenteServelet</display-name>
    <servlet-name>EliminaUtenteServelet</servlet-name>
    <servlet-class>controller.EliminaUtenteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaUtenteServelet</servlet-name>
    <url-pattern>/EliminaUtenteServelet</url-pattern>
  </servlet-mapping>
  
</web-app>